extends layout
block content
  h1=title

  h2 Usted ha iniciado sesión con <b> #{nombre} </b>
    form(action='/logout', method='get')
      button(type='submit') Logout
  form(action='/registrarVoto', method='post')
    label(for='txtEmpresa')
      select(id="id", name="id")
          each e, i in empresas
            option(value=e.id_empresa)= e.nombre
    label(for='txtNota')
      select(id="nota", name="txtNota")
        - for(var i = 0;i<=10;i++){
            option(value="#{i}") #{i}
        - }
    button(type='submit') Puntuar
